/* Add your CSS styles here */


#game-board {
  border: 1px solid rgb(0, 255, 4);
  display: grid;
  grid-template-columns: repeat(6, 15%);
  margin-top: 5%;
}

.card-content {
  width: 14vh;
  height: 14vh;
  perspective: 1000px;
  line-height: 50px;
  margin-top: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-content.flip {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-face.back {
  transform: rotateY(180deg);
  border: 2px solid #131514;
  border-radius: 15%;
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.card-face.front {
  background-image: url('../../images/play/testRem2.png');
  border: 2px solid #131514;
  border-radius: 15%;
  background-size: cover;
}

.card.front {
  background-color: #131514;
  border-radius: 15%;
  width: 14vh;
  height: 14vh;
  line-height: 50px;
  margin-top: 10px;
  background-image: url('../../images/play/testRem2.png');
  background-size: cover;
}

.card-content.flip {
  transform: rotateY(180deg);
}

.card.back {
  background-color: #131514;
  border-radius: 15%;
  width: 14vh;
  height: 14vh;
  line-height: 50px;
  margin-top: 10px;
  background-image: url('../../images/play/testRem2.png');
  background-size: cover;
}

#players-list {
  width: 550PX;
  border: 1px solid rgb(247, 247, 247);
  border-radius: 50px;
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  text-align: center;
  font-size: 30px;
  
}

body {
  background-color: #506069;
  font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}

.col-sm-4 {
  display: block;
  margin-top: 4%;
  padding-left: 2%;
}

#timer {
  width: 500px; /* adjust as needed */
  height: 25px; /* adjust as needed */
  border: 1px solid black; /* adjust as needed */
  border-radius: 100px;
  margin-bottom: 1px;
  margin-left: 4%;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-left {
  position: absolute;
}

#progress {
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  height: 100%;
  background: #24C586; /* change color as needed */

}

.rightBlock{
  width:20%;
}

@media only screen and (min-width: 1280px){
  #game-board {
    border: 1px solid rgb(26, 255, 0);
    display: grid;
    grid-template-columns: repeat(7, 15%);
    
  }

}

@media only screen and (max-width: 1200px) and (min-width: 1000px){
  #game-board {
    border: 1px solid rgb(0, 255, 38);
    display: grid;
    grid-template-columns: repeat(5, 18%);
    
  }

}

@media only screen and (max-width: 1200px) and (min-width: 760px){
  #game-board {
    border: 1px solid rgb(0, 255, 55);
    display: grid;
    grid-template-columns: repeat(5, 22%);
    
  }

}

@media only screen and (max-width: 759px) and (min-width: 500px){
  #game-board {
    border: 1px solid rgb(0, 255, 38);
    display: grid;
    grid-template-columns: repeat(4, 28%);
    
  }

}