
body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.input-field {
    margin-top: 70%;
    width: 100%;
    height: 50px;
    font-size: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.rectangle {
    
}

        
