.changing-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A1917;
    transition: background-color 1s ease; 
}

.growing-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.001px; 
    height: 0.001px; 
    background-color: #1A1917;
    transition: all 1.2s ease;
}
        
.body{
    font-family: Arial;
    color: #269537;
    text-align: center;
    width: 100%;
    background-color: #1A1917;
    overflow: hidden;
}

h1{
    font-size: 50px;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-left: 40.25%;
    margin-top: 5%;

}

.input-field {
    margin-top: 16%;
    margin-left: 24.85%;
    width: 40%;
    height: 50px;
    font-size: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.additional-content {
    display: none; /* Initially hidden */
    position: relative;
    
}

.gogo{
    
    display:flex;

}

.go{
    margin-top: 15.75%;
}

.gopng{
    cursor: pointer;
}