
body {
    font-family: Arial;
    color: #269537;
    text-align: center;
    width: 100%;
    background-color: #1A1917;
    overflow: hidden;
}


.changing-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131514; 
    transition: background-color 1s ease; 
}

.growing-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px; 
    height: 1px; 
    background-color: #1A1917;
    transition: all 1.6s ease;
}

.additional-content {
    display: none; /* Initially hidden */
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    justify-content: space-around;
}

.userIcons {
    padding-left: 0.8%;
    margin-left: 5%;
    margin-top: 25%;
    width: 34%;
    min-height: 60vh; /* 40% of the viewport height */
    height: auto;
    float: left;
    transform: translateY(-60%);
    background-color: #b4c9f040;
    border-radius: 40px;
}

.userNames {
    padding-left: 0.8%;
    margin-left: 10%;
    margin-top: 20%;
    width: 34%;
    max-height: 40vh;
    min-height: 40vh; /* 40% of the viewport height */
    overflow-y: scroll;
    
    float: left;
    transform: translateY(-60%);
    background-color: rgba(180, 201, 240, 0.25);
    border-radius: 40px 0px 0px 40px;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.roomCode {
    /*border: 2px solid black;
    color: black;*/
    font-size: 22px;
    font-family: Arial;
    margin-left: 100vh;
}

.user-icon {
    width: 100px;
    height: 100px;
    background-image: url('images/room/user.png');
    background-size: cover;
    display: inline-block;
    margin: 5px; /* Add some margin between icons for spacing */
}

.players {
    font-size: 22px;
    font-family: Arial;
    margin-left: 3%;
    margin-top: 5%;
    color: black;
   
}

.playerWins {
    font-size: 22px;
    font-family: Arial;
    margin-left: 30%;
    margin-top: -26%;
    color: black;
}

table.table{

    width: 100%;
    text-align: center;
    }
    table.none td, table.none th {
    padding: 3px 2px;
    }
    table.none tbody td {
    font-size: 13px;
    }
    table.none thead {
        border-bottom: 2px solid #444444;
    }
    table.none thead th {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    }
    table.none tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    }
    table.none tfoot td {
    font-size: 14px;
    }
    table.none tfoot .links {
    text-align: right;
    }
    table.none tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EDEDED;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6990d2;    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #49679C;
  }
  
.headers{
    display: flex;
    
}

.yourRoom{
    margin-left: 10vh;
    
    display: block;
    font-family: Arial;
    color: #EDEDED;
}

.aPlay{
    max-width: 10vh;
    max-height: 10vh;

}

.aLeave{
    max-width: 10vh;
    max-height: 10vh;
    margin-left: 40vh;
    margin-bottom: 20vh;
    
}

.aButtons{
    max-width: 10vh;
    max-height: 10vh;
    display: flex;
    margin-top: 60vh;
    margin-left: 51%;
    position: absolute;
}

.aButtons:hover{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .aButtons{
        margin-top: 40vh;
        margin-left: 30vh;
        position: flex;
        flex-direction: column;
    }
    .aLeave{
        margin-left: 10vh;
        margin-top: 5vh;
        
    }
    h1{
        display:none !important;
        color:transparent;

    }
    
}

@media only screen and (max-width: 1240px) and (min-width: 1030px){
    .aButtons{
        margin-top: 55vh;
        margin-left: 70vh;
        position: absolute;
        
    }
    
}

@media only screen and (max-width: 1030px) and (min-width: 860px){
    .aButtons{
        margin-top: 50vh;
        margin-left: 50vh;
        position: absolute;
        
    }
    
}

@media only screen and (max-width: 860px) and (min-width: 690px){
    .aButtons{
        margin-top: 40vh;
        margin-left: 60vh;
        position: flex;
        flex-direction: column;
    }
    .aLeave{
        margin-left: 10vh;
        margin-top: 5vh;
        
    }
    h1{
        display:none !important;
        color:transparent;

    }
    
}
@media only screen and (max-width: 690px) and (min-width: 600px){
    .aButtons{
        margin-top: 40vh;
        margin-left: 60vh;
        position: flex;
        flex-direction: column;
    }
    .aLeave{
        margin-left: 10vh;
        margin-top: 5vh;
        
    }
    h1{
        display:none !important;
    }
    
}
