
body {
    margin: 0;
    overflow: hidden;
}

#changing-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #43464d; 
    transition: background-color 1s ease; 
}

#growing-rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.001px; 
    height: 0.001px; 
    background-color: #8EB3F5;
    transition: all 1.2s ease;
}

#additional-content {
    display: none; /* Initially hidden */
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    
    

}


#userIcons {
    padding-left: 0.8%;
    margin-left: 5%;
    margin-top: 25%;
    width: 34%;
    min-height: 60vh; /* 40% of the viewport height */
    height: auto;
    border: 3px solid black;
    float: left;
    transform: translateY(-60%);
    
}

#userNames {
    margin-left: 20%;
    margin-top: 10%;
    
    width: 30%;
    min-height: 25vh;  
    height: auto;
    float: left;
    border: 3px solid black;
    
    transform: translateX(-10%);
    
}

#roomCode {
    /*border: 2px solid black;
    color: black;*/
    font-size: 22px;
    font-family: Arial;
    margin-left: 70%;
    

    
}
.user-icon {
    width: 100px;
    height: 100px;
    background-image: url('./public/images/user.png');
    background-size: cover;
    display: inline-block;
    margin: 5px; /* Add some margin between icons for spacing */
}