<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Pexeso Now!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/choose/style.css">
</head>

<body>
    <h1>Play Pexeso Now!</h1>

    
    <div class="container">
        <div class="bubbles-flip">
            <div class="bubbles">
                <span style="--i:18;"></span>
                <!-- ... (your existing code for bubbles) ... -->
            </div>
        </div>
    </div>


    <div class="images">
        <a href="/room" class="a1">
            <img src="images/create/create1.png" class="create1" id="create_img">
            <!-- <img src="images/create/create.png" class="create-room-btn" id="create_img"> -->
        </a>
        <a href="/join" class="a2">
            <img src="images/create/join1.png" class="join1" id="join_img">
            <!-- <img src="images/create/join.png" class="join-room-btn" id="join_img"> -->
        </a>
    </div>

    
    <img src="images/create/create-back.png" class="create-back">
    
    

</body>
</html>
