<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Pexeso Now!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/choose/style.css">
</head>

<body>

    <h1>Play Pexeso Now!</h1>


    <div class="container">

        <div class="bubbles-flip">
            <div class="bubbles">
                <span style="--i:18;"></span>
                <span style="--i:21;"></span>
                <span style="--i:16;"></span>
                <span style="--i:15;"></span>
                <span style="--i:24;"></span>
                <span style="--i:12;"></span>
                <span style="--i:10;"></span>
                <span style="--i:25;"></span>
                <span style="--i:20;"></span>
                <span style="--i:17;"></span>
                <span style="--i:23;"></span>
                <span style="--i:15;"></span>
                <span style="--i:19;"></span>
                <span style="--i:18;"></span>
                <span style="--i:10;"></span>
                <span style="--i:11;"></span>
                <span style="--i:21;"></span>
                <span style="--i:13;"></span>
                <span style="--i:12;"></span>
                <span style="--i:20;"></span>
                <span style="--i:13;"></span>
                
            </div>
        </div>
    </div>


    <div class="images">
        <a target=_blank href="www.create.com" class="a1">

        <a href="/room" class="a1">

            <img src="images/create/create1.png" class="create1">
            <img src="images/create/create.png" class="create-room-btn">

        </a>
        <a href="/join" class="a2">
            <img src="images/create/join1.png" class="join1">
            <img src="images/create/join.png" class="join-room-btn">
        </a>
    </div>

    
    <img src="images/create/create-back.png" class="create-back">
    
    

</body>