<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Pexeso Now!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/create/style.css">
</head>

<body>
    <h1>Play Pexeso Now!</h1>
    <div class="container">
        <a target=_blank href="www.create.com" class="a1">
            <img src="images/create/create.png" class="create-room-btn">
        </a>
        <a target=_blank href="www.join.com" class="a2">
            <img src="images/create/join.png" class="join-room-btn">
        </a>
    </div>

    
    <img src="images/create/create-back.png" class="create-back">
    
    

</body>