<!DOCTYPE html>
<html lang="cs">

    <head>
        <meta charset="UTF-8">
        <title>Pexeso</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/home/style.css">
    </head>
    
    <body class="body">

       
        <h1 class="h1"><u>Pexeso</u></h1>
        <div1>
            <p class="p">
                Welcome to the world of mix and match!                 <br>
                The rules are as simple as Connect Four, but you connect 2!<br>
                Have fun!                                              
            </p>

        <a href="/create">
            <img src="images/home/play_but.png" alt="play" class="play_btn">    
        </a>

        <h2 class="h2"><u>How to play:</u></h2>

        <p class="p">
            Set out the cards <br>
            Gather your friends or find people to play with! <br>
            Turn the cards and find a matching pair! <br>
            The person with the most cards acquired wins!<br>
        </p>
    </div1>
    </body>
 
</html>
