<!DOCTYPE html>
<html lang="cs">

    <head>
        <meta charset="UTF-8">
        <title>Pexeso</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/home/style.css">
    </head>
    
    <body class="body">

        <header class="header">
            <p class="p">
                <u>Pexeso</u> 
                <br>                        
            </p>
        </header>

        <main>
            
        <div class="container">
            <div class="bubbles-flip">
                <div class="bubbles">
                    <span style="--i:18;"></span>
                    <span style="--i:21;"></span>
                    <span style="--i:16;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:25;"></span>
                    <span style="--i:20;"></span>
                    <span style="--i:17;"></span>
                    <span style="--i:23;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:19;"></span>
                    <span style="--i:18;"></span>
                    <span style="--i:10;"></span>
                    <span style="--i:11;"></span>
                    <span style="--i:21;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:20;"></span>
                    <span style="--i:13;"></span>
                    <span style="--i:15;"></span>
                    <span style="--i:24;"></span>
                    <span style="--i:12;"></span>
                    <span style="--i:10;"></span>
                </div>
            </div>
        </div>

        <div1>
            <p class="p">
                <strong>
                Welcome to the world of mix and match!                     <br>
                The rules are as simple as Connect Four, but you connect 2!<br>
                Have fun!  
                </strong>                                            
            </p>

            <a href="/choose">
                <img src="images/home/play_but.png" alt="play" class="play_btn">    
            </a>

            <h2 class="h2"><u>How to play:</u></h2>

            <p class="p1">
                <strong>
                    Gather your friends or find people to play with! <br>
                    Turn the cards and find a matching pair!         <br>
                    The person with the most cards acquired wins!    <br>
                </strong>        
            </p>  
        </div1>

        </main>

        <footer class="footer">
            <p class="p">
                 <strong>Made by:</strong> Jarnot Lukas, Elias Constantine, Michael Antos
                <br>                   <strong>School project 2024&copy;</strong>
            </p>
        </footer>    

    </body>
 
</html>
