<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="stylesheets/join/style.css">
    <link rel="icon" href="images/bb.png">



</head>
<body class="body">
    
    <div class="changing-background" id="changing-background">
        <div class="growing-rectangle" id="growing-rectangle"></div>
    </div>

    <div class="additional-content" id="additional-content">
        <h1>Join the Room</h1>


        <div class="container">
            <div class="rectangle"></div>
            
            <div class="gogo">
                <input type="text" class="input-field" placeholder="Enter room code" id="input">
                <a class="go" onclick="clickedAPlay()">
                    <img src="images/join/go.png" alt="go" class="gopng">
                </a>
            </div>
        </div>
    </div>
    

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var background = document.getElementById('changing-background');
            var rectangle = document.getElementById('growing-rectangle');
            var additionalContent = document.getElementById('additional-content');


            setTimeout(function () {
                background.style.backgroundColor = '#131514';
                rectangle.style.width = '200%';
                rectangle.style.height = '200%';

                

                setTimeout(function () {
                    additionalContent.style.display = "block";
                }, 200);
            }, 800);
        });
    </script>

    <script 
    src="https://cdn.socket.io/4.6.0/socket.io.min.js"
    integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
    crossorigin="anonymous">
    </script>

    <script>
        var code = "";
        const socket = io();
        
        const idInput = document.getElementById("input");
        idInput.addEventListener("input", (e) => {
            const {value} = e.target
            code = value
        })

        socket.on("join:isGameExistReturn", (value) => {
            if (value == "yes") {
                window.location.href = "/room?code=" + code;
            } else {
                alert("Game not found");
            }
        });
        
        function clickedAPlay() {
            socket.emit("join:isGameExist", code);
        }
    </script>


</body>
</html>
