<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pexeso - Playing</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="stylesheets/play/style.css">
    <link rel="icon" href="images/bb.png">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <!-- Left block -->
                <div id="game-board">
                    <!-- Card generation -->
                </div>
                    
                <div id="current-player">
                        <!-- Current player -->
                </div>
            </div>
            
            
            <div class="col-sm-4">
                <!-- right block -->
                <div id="timer">
                    <div id="progress"></div>
                    <span id="time-left"></span>
                </div>
                <div id="players-list" class="players-list">
                    <!-- List of all players -->

                </div>
            </div>
        </div> 
    </div>
    <script>
        function startTimer(duration, progressElement, textElement) {
        var start = Date.now(),
        progress;

        function timer() {
        // get the number of seconds that have elapsed since startTimer() was called
        var diff = duration - (((Date.now() - start) / 1000) | 0);

        // calculate the width of the progress bar
        var percent = (diff / duration) * 100;

        // update the width of the progress bar
        progressElement.style.width = percent + '%';

        // update the text content of the #time-left element
        textElement.textContent = diff + "s";

        // if all the time has passed, end the timer
        if (diff <= 0) {
        clearInterval(progress);
        }
        };

        // we don't want to wait a full second before the timer starts
        timer();
        progress = setInterval(timer, 10);
        }

        window.onload = function () {
        var tenSecs = 60 / 6,
        progressElement = document.querySelector('#progress'),
        textElement = document.querySelector('#time-left');
        startTimer(tenSecs, progressElement, textElement);
        };
    </script>
    <script 
        src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous">
    </script>
    <script>
    /*    // Add your JavaScript game logic here
        var gameBoard = document.getElementById('game-board');
        var playersList = document.getElementById('players-list');
        var timer = document.getElementById('timer');
        var currentPlayer = document.getElementById('current-player');
        var cardPairs = 14;

        // Initialize the game
        function initGame() {
            // Create an array of paired cards
            var cards = [];
            for (var i = 0; i < cardPairs; i++) {
                // Add two cards with the same number to the array
                cards.push(i);
                cards.push(i);
            }

            

            // Add the cards to the game board
            for (var i = 0; i < cards.length; i++) {
                var card = document.createElement('div');
                card.className = 'card';
                card.dataset.value = cards[i];
                card.addEventListener('click', onCardClick);
                gameBoard.appendChild(card);
            }
        }

        // Function to handle card click
        function onCardClick(event) {
            // Check if the card is already revealed
            // Reveal the card
            // If two cards are revealed, check if they match
            // If they match, remove them from the game
            // If they don't match, flip them back after a short delay
            // Switch the current player after each unsuccessful match
        }

        
        // Index of the current player
        var currentPlayerIndex = -1;

        // Function to switch to the next player
        function nextPlayer() {
            // Get the players from the players-list div
            var players = Array.from(document.getElementById('players-list').children);

            // Reset the font color of the previous player
            if (players[currentPlayerIndex]) {
                players[currentPlayerIndex].style.color = 'black';
            }

            // Increment the index
            currentPlayerIndex++;

            // Change the font color of the current player to orange
            players[currentPlayerIndex].style.color = 'Lightgreen';

            // If we've reached the end of the array, go back to the start
            if (currentPlayerIndex >= players.length) {
                currentPlayerIndex = 0;
            }

            // Update the current player
            currentPlayer = players[currentPlayerIndex].id;

            
        }

        // Switch to the next player every 10 seconds
        setInterval(nextPlayer, 10000);

        // Start the game
        initGame();*/
        
    </script>
    
    <script>
        var gameBoard = document.getElementById('game-board');

        function initGame() {
        
            // Add the cards to the game board
            for (var i = 0; i < 28; i++) {
                var card_content = document.createElement('div');
                card_content.className = 'card-content';
                card_content.id = "card-" + i;
                card_content.addEventListener('click', onCardClick);
                gameBoard.appendChild(card_content);

                var card_face_front = document.createElement('div');
                card_face_front.className = 'card-face front';
                card_face_front.id = "front-" + i;
                card_content.appendChild(card_face_front);
                
                var card_face_back = document.createElement('div');
                card_face_back.className = 'card-face back';
                card_face_back.id = "back-" + i;
                card_content.appendChild(card_face_back);
            }
        }

        function onCardClick(event) {
            socket.emit("game:flipCard", Number(event.target.id.split("-")[1]), code, uniqueID)
        }

        initGame()
    </script>

    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const code = urlParams.get('code')

        const socket = io();
        var uniqueID = ""
        var flippedCards = []
        var flippedCardsValue = []
        var playerNameList = []

        socket.on("game:joinReturn", (playerCode) => {
            if (playerCode == "gs") {
                alert("Game already started or not found")
                window.location.href = "/join";
            } else {
                uniqueID = playerCode
            }
        })

        socket.on("connect", () => {
            console.log("connected")
            socket.emit("game:join", code, prompt("Type your name:"))
        });

        socket.on("game:cardFlipped", (roomCode, cardID, cardValue, playerTurn) => {
            if (roomCode == code) {
                if (flippedCards.length >= 2) {
                    var firstCard = document.getElementById("card-" + flippedCards[0])
                    var secondCard = document.getElementById("card-" + flippedCards[1])
                    firstCard.className = 'card-content';
                    secondCard.className = 'card-content';
                    if (flippedCardsValue[0] == flippedCardsValue[1]) {
                        document.getElementById("front-" + flippedCards[0]).style.backgroundImage = "url('images/play/testRem3.png')"
                        document.getElementById("front-" + flippedCards[1]).style.backgroundImage = "url('images/play/testRem3.png')"
                    }
                    flippedCardsValue = []
                    flippedCards = []
                }
                var clickedCard = document.getElementById("card-" + cardID)
                clickedCard.className = 'card-content flip';
                document.getElementById("back-" + cardID).style.backgroundImage = "url('images/play/cards/" + (cardValue + 1) + ".png'), url('images/play/testRem4.png')";
                flippedCards.push(cardID)
                flippedCardsValue.push(cardValue)
                for (var i = 0; i < playerNameList.length; i++) {
                    document.getElementById(playerNameList[i]).style.color = "#212529"
                }
                document.getElementById(playerTurn).style.color = "#E18818"
            }
        })

        socket.on("game:playerNameList", (roomCode, nameArray, whoIsPlaying, playerScores) => {
            if (roomCode == code) {
            playerNameList = nameArray
            var htmlInPlayerList = ""
            for (var i = 0; i < nameArray.length; i++) {
                htmlInPlayerList += '<div id="' + nameArray[i] + '">' + nameArray[i] + " - " + playerScores[i] + "</div>"
            }
            document.getElementById("players-list").innerHTML = htmlInPlayerList
            document.getElementById(whoIsPlaying).style.color = "#E18818"
            }
        })
    </script>

</html>