<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="stylesheets/room/style.css">
    <link rel="icon" href="images/bb.png">
</head>

<body>

    <div class="changing-background" id="changing-background">
        <div class="growing-rectangle" id="growing-rectangle"></div>
    </div>

    <div class="additional-content" id="additional-content">
        <div class="headers">
            <h1 class="yourRoom">Your Room</h1>
            <h3 class="roomCode" id="roomCode">Your room code:</h3>
        </div>

        <div class="userIcons" id="userIcons"></div>

        <div class="right">
            <div class="userNames" id="userNames">
                <div class="tableClass">

                    <table class="table" if="tableClass">
                        <thead>
                            <tr>
                                <th>Order</th>
                                <th>Name</th>
                                <th>Wins</th>
                                <th>Games</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class=aButtons>
                <a class="aPlay" onclick="clickedAPlay()">
                    <img src="images/room/start.png" class="play-icon"></img>
                </a>

                <a href="/choose" class="aLeave">
                    <img src="images/room/leave.png" class="leave-icon"></img>
                </a>
            </div>
        </div>
        <!--
        <div class="settings">
            <button class="settings-button">
                <img src="images/room/settings.png" class="settings-icon"></img>
            </button>
        </div>
        -->
    </div>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <script src="public\javascripts\room\adjustContainer.js"></script>
    <script src="public\javascripts\room\growingRect.js"></script>
    <script src="public\javascripts\room\connection.js"></script>
</body>
</html>