
h1 {
    font-family: Calibri;
    text-align: center;
    color: white;
    margin-left: 0%;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #43464d;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-left: 10%;
}

.a2 {
    font-size: 16px;
    border: none;
    width: 20%;
    
    color: #fff;
    border: 0px solid #fff;
    cursor: initial;
    
    
    height: 100px;
    position: relative;
}
.a1{
    
    font-size: 16px;
    border: none;
    width: 20%;
    
    color: #fff;
    border: 0px solid #fff;
    cursor: initial;
    
    
    height: 100px;
    position: relative;
}

.create-room-btn,
.join-room-btn {
    position: absolute;
    width: 100px;
    height: 50px;
}

.create-room-btn:hover,
.join-room-btn:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.create-back {
    width: 5%;
    height: 5%;
}


.a1 img {
    margin-top: 30%;
    margin-left: 20%;
    position: absolute;
    max-width: 200%; 
    height: auto; 
    cursor: pointer;
    
    
}
.a2 img {
    margin-top: 30%;
    margin-left: 220%;
    position: absolute;
    max-width: 200%; 
    height: auto; 
    cursor: pointer;
    
    
}



@media screen {
    .a1{
        
        max-width: 15%;
        
    }
    .a2 {
        
        max-width: 15%;
        
    }
    .create-room-btn,
    .join-room-btn {
        width: 100px;
        height: 50px;
        margin-left: 15%;
        margin-top: 50%;
        position: relative;
    }
}