
body {
    background-color: #43464d;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #535559;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h1, p {
    color: #8EB3F5;
}

p {
    font-size: 18px;
    margin: 20px;
}

a {
    animation: Colorshift 8s infinite;
}

@keyframes Colorshift {
    0% {
        color: #ff6464; 
    }
    10% {
        color: #ffb469; 
    }
    20% {
        color: #ffff6e; 
    }
    30% {
        color: #b4ff69; 
    }
    40% {
        color: #6effb6;
    }
    50% {
        color: #66ffff; 
    }
    60% {
        color: #5daeff; 
    }
    70% {
        color: #6666ff; 
    }
    80% {
        color: #ab56ff; 
    }
    90% {
        color: #ff56ff; 
    }
    100% {
        color: #ff6767; 
    }
}